*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    margin: 0;
    background-color: rgb(202, 202, 154);
}
.header-container{
    margin: 60px 0 10px 0;
}
.header-container > h1{
    margin: 0;
}
.nav-container{
    position: relative;
    background-image: url(../images/design2_image1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border: 1.5px solid rgb(165, 35, 35);
}
.button-container{
    position: absolute;
    top: -10px;
    left: 78%;
}
.nav-button{
    background-color:rgb(63, 141, 214);
    padding:5px 14px;
    color: wheat;
    text-decoration: none;
    border: 1.5px solid black;
    box-shadow: 3px 4px 1px rgba(0, 0, 0, 0.459);
    margin-left: 6px; 
}
.nav-button:hover{
    background-color: rgb(65, 146, 65);
}
.upcoming-div{
    background-color: rgb(94, 139, 94);
    border: 1px solid rgb(187, 189, 78);
    text-align: center;
}
.upcoming-div > h2{
    margin: 9px 0px;
}
.main-container{
    height: 400px;
    margin: 30px 0 0 0;
}
.logo-container{
    width: 200px;
    height: 400px;
    float: left;
    margin-right: 70px;
}
.logo{
    position: relative;
    width: 150px;
    height: 150px;
    left: 25px;
    top: 18px;
}
.image-hockey{
    display: inline-block;
    width: 200px;
    height: 200px;
    position: absolute;
}
.article{
    display: inline;
    width: 500px;
    height: 100px;

}
.h3-article, .p-article{
    margin-top: 0;
    padding-top: 25px;
    
}